Support other encodings then just UTF-8

## Summary

Currently, the tool only seems to work when all files are encoded as UTF-8 (IDE uses UTF-8 with BOM by default).

## Desired solution

Support other encodings when possible

Thanks!


According to [RFC 8259, Section 8.1](https://tools.ietf.org/html/rfc8259#section-8.1):

> ## 8.1.  Character Encoding
>
> JSON text exchanged between systems that are not part of a closed
> ecosystem MUST be encoded using UTF-8 [[RFC3629]](https://tools.ietf.org/html/rfc3629).
>
> […]
>
> Implementations MUST NOT add a byte order mark (U+FEFF) to the
> beginning of a networked-transmitted JSON text.  In the interests of
> interoperability, implementations that parse JSON texts MAY ignore
> the presence of a byte order mark rather than treating it as an
> error.

Also, according to the [Unicode standard, Chapter 2.6](https://www.unicode.org/versions/Unicode11.0.0/ch02.pdf):

> ## 2.6 Encoding Schemes
> … Use of a BOM is neither required nor recommended for UTF-8, but
> may be encountered in contexts where UTF-8 data is converted from other encoding forms
> that use a BOM or where the BOM is used as a UTF-8 signature.

Modern IDEs can be easily configured to handle files with and without BOM, so it shouldn't be an issue.

However, this is easy to implement, so I'll do it. Keep in mind, however, that merged templates _will_ be BOM-less, and you should take that into account in your workflow.

Great, thanks!